
.App{
  text-align: center;
}

.header{
  display:flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(52, 6, 95);
  font-size: 25px;
  padding:10px;
  color: white;
}

.form{
  text-align: center;
  justify-content: center;
}